<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->



<!DOCTYPE html>
<html>

<!-- Head -->
<head>

<title>appyTailor | :: appyTailor</title>

<!-- Meta-Tags -->
<link rel="shortcut icon" href="/appyTailor/resources/web//appyTailor/resources/web/images/hi_logo.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords"
	content="Cloud based boutique shop management software, tailoring shop management software, online software for boutique, online software for tailoring, software to run tailor business, software to run boutique shop, software for fashion, software for tailor, software for tailoring business, software for boutique business">
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!-- //Meta-Tags -->

<!-- Custom-Stylesheet-Links -->
<!-- Bootstrap-CSS -->
<link rel="stylesheet" href="/appyTailor/resources/web/css/bootstrap.min.css" type="text/css"
	media="all">
<!-- Default-CSS -->
<link rel="stylesheet" href="/appyTailor/resources/web/css/style.css" type="text/css" media="all">
<!-- Navigation-Menu-CSS -->
<link rel="stylesheet" href="/appyTailor/resources/web/css/menu_wave.css" type="text/css"
	media="all">
<!-- Gallery-Popup-CSS -->
<link rel="stylesheet" href="/appyTailor/resources/web/css/chocolat.css" type="text/css"
	media="all">
<!-- //Custom-Stylesheet-Links -->

<!-- Navigation-Menu-JavaScript -->
<script src="/appyTailor/resources/web/js/snap.svg-min.js"></script>
<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- Specialities-Hover-Effect-JavaScript -->
<script src="/appyTailor/resources/web/js/modernizr.custom.js"></script>

<!-- Web-Fonts -->
<!-- Body-Font -->
<!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"					type='text/css'>-->
<!-- Logo-Font -->
<!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Yeseva+One"									type='text/css'>-->
<!-- Link-Font -->
<!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900"		type='text/css'>-->
<!-- //Web-Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>

	<div class="container">

		<div class="menu-wrap">

			<!-- Navigation-Menu -->
			<nav class="menu">
				<div class="icon-list">
					<a href=""><span class="glyphicon glyphicon-home"
						aria-hidden="true"></span><span>HOME</span></a> <a href="about"><span
						class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span>ABOUT
							US</span></a> <a href="products"><span
						class="glyphicon glyphicon-gift" aria-hidden="true"></span><span>PRODUCTS</span></a>
					<a href="codes"><span class="glyphicon glyphicon-th-list"
						aria-hidden="true"></span><span>STORY</span></a> <a
						href="contact"><span class="glyphicon glyphicon-earphone"
						aria-hidden="true"></span><span>CONTACT</span></a>
				</div>
			</nav>
			<!-- //Navigation-Menu -->

			<!-- Close-Button -->
			<button class="close-button" id="close-button">Close Menu</button>
			<!-- //Close-Button -->

			<div class="morph-shape" id="morph-shape"
				data-morph-open="M0,100h1000V0c0,0-136.938,0-224,0C583,0,610.924,0,498,0C387,0,395,0,249,0C118,0,0,0,0,0V100z">
				<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
					viewBox="0 0 1000 100" preserveAspectRatio="none">
					<path
						d="M0,100h1000l0,0c0,0-136.938,0-224,0c-193,0-170.235-1.256-278-35C399,34,395,0,249,0C118,0,0,100,0,100L0,100z" />
				</svg>
			</div>

		</div>

		<!-- Menu-Button -->
		<button class="menu-button" id="open-button">Open Menu</button>
		<!-- //Menu-Button -->

		<div class="content-wrap">

			<!-- Page-Content -->
			<div class="content">

				<!-- Banner -->
				<div class="banner" id="home">
					<img src="/appyTailor/resources/web/images/banner.jpg" alt="appyTailor">

					<!-- Logo -->
					<div class="logo">
						<a href="">appyTailor</a>
					</div>
					<!-- //Logo -->

					<h1>APPY TAILOR</h1>
					<P>A complete solution for your tailoring and fashion designing needs.</P>
					<a class="browse" href="products">BROWSE</a>

				</div>
				<!-- //Banner -->

				<!-- Index-About -->
				<div class="index-about">

					<div class="col-md-6 col-sm-6 index-about-grid index-about-info">
						<h1>ABOUT US</h1>
						<P>appTailor - A one stop solution for the passionate Dress Maker in you! 
						Creating a difference in Boutique/Fashion designer/Tailoring & Fabric Industry, appTailor is designed to facilitate entrepreneurs to efficiently manage their work.
						appyTailor offers a highly reliable and safe online experience to track the orders, maintain client data, communicate with clients, view monthly expense/ profit data, maintanance of fabric etc. At appyTailor we deal with quality and custom orders.</P>
						<a href="about">READ MORE</a>
					</div>

					<div class="col-md-6 col-sm-6 index-about-grid index-about-image">
						<div class="about-image-1">
							<img src="/appyTailor/resources/web/images/about-1.jpg" alt="appyTailor">
						</div>
						<div class="about-image-2">
							<img src="/appyTailor/resources/web/images/about-2.jpg" alt="appyTailor">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>

				</div>
				<!-- //Index-About -->

				<!-- Speciality -->
				<div class="speciality">

					<div class="col-md-4 col-sm-4 specialities">
						<h2>OUR SPECIALITIES</h2>
						<h4>Trust, Satisfication, Secure, Tranparent, Scale,
							Performance, Reliable</h4>
						<p class="p1">
							Create a new title as <b>"What's in store for u?"</b><br /> 
							Instant order trackng notification<br /> 
							Expand your Business revenue & Stock value<br /> 
							Connect your business with customer quickly<br />
							Get instant tracking notification on orders<br /> 
							Boast up Customer Satification<br /> 
							Run the business in smarter way<br /> 
							Magnify the opportunity to grow your business<br /> 
							Use social media to reach out more customers<br />
							Promote your business with attractive offers and bonus points<br />
							and much more interesting...
						</p>

					</div>

					<div class="col-md-8 col-sm-8 grid cs-style-3">
						<div class="col-md-4 col-sm-4 speciality-grid grid1">
							<figure>
								<div class="speciality-info">
									<img src="/appyTailor/resources/web/images/special-1.png" alt="appyTailor">
									<h3>Fashion</h3>
								</div>
								<div class="speciality-hover">
									<figcaption>
										<h3>appyTailor</h3>
										<span>Good design is obvious. Great design is
											transparent</span>
									</figcaption>
								</div>
							</figure>
						</div>
						<div class="col-md-4 col-sm-4 speciality-grid grid2">
							<figure>
								<div class="speciality-info">
									<img src="/appyTailor/resources/web/images/special-2.png" alt="appyTailor">
									<h3>Style</h3>
								</div>
								<figcaption>
									<h3>appyTailor</h3>
									<span>Do not seek praise. Seek criticism</span>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-4 col-sm-4 speciality-grid grid3">
							<figure>
								<div class="speciality-info">
									<img src="/appyTailor/resources/web/images/special-3.png" alt="appyTailor">
									<h3>Trend</h3>
								</div>
								<figcaption>
									<h3>appyTailor</h3>
									<span>Those who don’t build must burn</span>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-4 col-sm-4 speciality-grid grid4">
							<figure>
								<div class="speciality-info">
									<img src="/appyTailor/resources/web/images/special-4.png" alt="appyTailor">
									<h3>Fit/Finish</h3>
								</div>
								<figcaption>
									<h3>appyTailor</h3>
									<span>Design is not just what it looks like and feels
										like. Design is how it works</span>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-4 col-sm-4 speciality-grid grid5">
							<figure>
								<div class="speciality-info">
									<img src="/appyTailor/resources/web/images/special-5.png" alt="appyTailor">
									<h3>Durability</h3>
								</div>
								<figcaption>
									<h3>appyTailor</h3>
									<span>Leave it better than you found it</span>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-4 col-sm-4 speciality-grid grid6">
							<figure>
								<div class="speciality-info">
									<img src="/appyTailor/resources/web/images/special-6.png" alt="appyTailor">
									<h3>Longevity</h3>
								</div>
								<figcaption>
									<h3>appyTailor</h3>
									<span>Design is so simple. That's why it's so
										complicated.</span>
								</figcaption>
							</figure>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>

				</div>
				<!-- //Speciality -->

				<!-- Events -->
				<div class="events">

					<h3>UPCOMING EVENTS</h3>

					<div class="event-grids">

						<div class="event-grid event-grid-1">
							<div class="event-date">
								<p class="date-1">01</p>
								<p class="date-2">MAY</p>
								<p class="date-3">2017</p>
							</div>
							<div class="event-info">
								<h4>Launch in Chennai</h4>
								<P>We are moving forwarad, help business and exploring
									oppertunities in Chennai</P>
							</div>
							<div class="event-icon">
								<button class="btn btn-primary">
									<a href="#"></a><span class="glyphicon glyphicon-chevron-right"
										aria-hidden="true"></span>
								</button>
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="event-grid event-grid-2">
							<div class="event-date">
								<p class="date-1">30</p>
								<p class="date-2">MAY</p>
								<p class="date-3">2017</p>
							</div>
							<div class="event-info">
								<h4>Launch in Bangalore</h4>
								<P>We are moving forwarad, help business and exploring
									oppertunities in Bangalore</P>
							</div>
							<div class="event-icon">
								<button class="btn btn-primary">
									<a href="#"></a><span class="glyphicon glyphicon-chevron-right"
										aria-hidden="true"></span>
								</button>
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="event-grid event-grid-3">
							<div class="event-date">
								<p class="date-1">06</p>
								<p class="date-2">JULY</p>
								<p class="date-3">2017</p>
							</div>
							<div class="event-info">
								<h4>Launch in Mumbai and Delhi</h4>
								<P>We are moving forwarad, help business and exploring
									oppertunities in Mumbai and Delhi</P>
							</div>
							<div class="event-icon">
								<button class="btn btn-primary">
									<a href="#"></a><span class="glyphicon glyphicon-chevron-right"
										aria-hidden="true"></span>
								</button>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>

					</div>
				</div>
				<!-- //Events -->

				<!-- How -->
				<div class="how">

					<div class="how-intro">
						<h3>HOW WE DO IT</h3>
						<div class="col-md-8 col-sm-8 how-heading">
							<p>We are unique. Interested. then visit our about us section</p>
						</div>

						<div class="col-md-4 col-sm-4 how-link">
							<a href="about"><span
								class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
								Learn More About Us</a>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="how-grids">

						<div class="how-top-grids">
							<div class="col-md-3 col-sm-3 how-top-grid how-grid-1">
								<div class="how-grid-image">
									<img src="/appyTailor/resources/web/images/how-1.png" alt="appyTailor">
								</div>
							</div>
							<div class="col-md-3 col-sm-3 how-top-grid how-grid-2">
								<h4>Design</h4>
								<p>...</p>
							</div>
							<div class="col-md-3 col-sm-3 how-top-grid how-grid-3">
								<div class="how-grid-image">
									<img src="/appyTailor/resources/web/images/how-2.png" alt="appyTailor">
								</div>
							</div>
							<div class="col-md-3 col-sm-3 how-top-grid how-grid-4">
								<h4>Style</h4>
								<p>...</p>
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="how-bottom-grids">
							<div class="col-md-3 col-sm-3 how-top-grid how-grid-5">
								<h4>Fashion</h4>
								<p>...</p>
							</div>
							<div class="col-md-3 col-sm-3 how-top-grid how-grid-6">
								<div class="how-grid-image">
									<img src="/appyTailor/resources/web/images/how-3.png" alt="appyTailor">
								</div>
							</div>
							<div class="col-md-3 col-sm-3 how-top-grid how-grid-7">
								<h4>Trend</h4>
								<p>...</p>
							</div>
							<div class="col-md-3 col-sm-3 how-top-grid how-grid-8">
								<div class="how-grid-image">
									<img src="/appyTailor/resources/web/images/how-4.png" alt="appyTailor">
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>

					</div>

				</div>
				<!-- //How -->

				<!-- Gallery -->
				<div class="gallery">

					<div class="follow">
						<h3>APPYTAILOR</h3>
						<h4>Beautiful Inside & Outside</h4>
						<img src="/appyTailor/resources/web/images/follow.jpg" alt="appyTailor">
						<!-- Social-Icons -->
						<div class="social">
							<ul class="social-icons">
								<li><a href="#" class="facebook"
									title="Go to Our Facebook Page"></a></li>
								<li><a href="#" class="twitter"
									title="Go to Our Twitter Account"></a></li>
								<li><a href="#" class="googleplus"
									title="Go to Our Google Plus Account"></a></li>
								<li><a href="#" class="instagram"
									title="Go to Our Instagram Account"></a></li>
							</ul>
						</div>
						<!-- //Social-Icons -->
						<div class="clearfix"></div>
					</div>

					<div class="gallery-grids">
						<div class="gallery-items">
							<div class="col-md-3 col-sm-3 gallery-item gallery-item-1">
								<a class="example-image-link" href="/appyTailor/resources/web/images/gallery-1-big.jpg"
									data-lightbox="example-set" data-title="">
									<div class="grid">
										<figure class="effect-apollo">
											<img src="/appyTailor/resources/web/images/gallery-1.jpg" alt="Manufactory">
											<figcaption></figcaption>
										</figure>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-sm-3 gallery-item gallery-item-2">
								<a class="example-image-link" href="/appyTailor/resources/web/images/gallery-2-big.jpg"
									data-lightbox="example-set" data-title="">
									<div class="grid">
										<figure class="effect-apollo">
											<img src="/appyTailor/resources/web/images/gallery-2.jpg" alt="Manufactory">
											<figcaption></figcaption>
										</figure>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-sm-3 gallery-item gallery-item-3">
								<a class="example-image-link" href="/appyTailor/resources/web/images/gallery-3-big.jpg"
									data-lightbox="example-set" data-title="">
									<div class="grid">
										<figure class="effect-apollo">
											<img src="/appyTailor/resources/web/images/gallery-3.jpg" alt="Manufactory">
											<figcaption></figcaption>
										</figure>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-sm-3 gallery-item gallery-item-4">
								<a class="example-image-link" href="/appyTailor/resources/web/images/gallery-4-big.jpg"
									data-lightbox="example-set" data-title="">
									<div class="grid">
										<figure class="effect-apollo">
											<img src="/appyTailor/resources/web/images/gallery-4.jpg" alt="Manufactory">
											<figcaption></figcaption>
										</figure>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-sm-3 gallery-item gallery-item-5">
								<a class="example-image-link" href="/appyTailor/resources/web/images/gallery-5-big.jpg"
									data-lightbox="example-set" data-title="">
									<div class="grid">
										<figure class="effect-apollo">
											<img src="/appyTailor/resources/web/images/gallery-5.jpg" alt="Manufactory">
											<figcaption></figcaption>
										</figure>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-sm-3 gallery-item gallery-item-6">
								<a class="example-image-link" href="/appyTailor/resources/web/images/gallery-6-big.jpg"
									data-lightbox="example-set" data-title="">
									<div class="grid">
										<figure class="effect-apollo">
											<img src="/appyTailor/resources/web/images/gallery-6.jpg" alt="Manufactory">
											<figcaption></figcaption>
										</figure>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-sm-3 gallery-item gallery-item-7">
								<a class="example-image-link" href="/appyTailor/resources/web/images/gallery-7-big.jpg"
									data-lightbox="example-set" data-title="">
									<div class="grid">
										<figure class="effect-apollo">
											<img src="/appyTailor/resources/web/images/gallery-7.jpg" alt="Manufactory">
											<figcaption></figcaption>
										</figure>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-sm-3 gallery-item gallery-item-8">
								<a class="example-image-link" href="/appyTailor/resources/web/images/gallery-8-big.jpg"
									data-lightbox="example-set" data-title="">
									<div class="grid">
										<figure class="effect-apollo">
											<img src="/appyTailor/resources/web/images/gallery-8.jpg" alt="Manufactory">
											<figcaption></figcaption>
										</figure>
									</div>
								</a>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>

				</div>
				<!-- //Gallery -->

				<!-- Stats -->
				<div class="stats">

					<div class="col-md-5 col-sm-5 stats-grid">
						<img src="/appyTailor/resources/web/images/stats.jpg" alt="appyTailor">
					</div>

					<div class="col-md-7 col-sm-7 stats-grids">
						<h3>Setting Latest Trends and making Fashionestas happy!</h3>
						<P>...</P>
						<div class="stats-info">
							<div class="col-md-3 col-sm-3 stats-info-grid stats-info-grid-1">
								<div class="stats-img">
									<img src="/appyTailor/resources/web/images/special-2.png" alt="appyTailor">
								</div>
								<div class="numscroller">100</div>
								<p class="stats-p">Clients</p>
							</div>
							<div class="col-md-3 col-sm-3 stats-info-grid stats-info-grid-2">
								<div class="stats-img">
									<img src="/appyTailor/resources/web/images/special-3.png" alt="appyTailor">
								</div>
								<div class="numscroller">1700</div>
								<p class="stats-p">Designs</p>
							</div>
							<div class="col-md-3 col-sm-3 stats-info-grid stats-info-grid-3">
								<div class="stats-img">
									<img src="/appyTailor/resources/web/images/special-4.png" alt="appyTailor">
								</div>
								<div class="numscroller">90000</div>
								<p class="stats-p">Followers</p>
							</div>
							<div class="col-md-3 col-sm-3 stats-info-grid stats-info-grid-4">
								<div class="stats-img">
									<img src="/appyTailor/resources/web/images/special-5.png" alt="appyTailor">
								</div>
								<div class="numscroller">134005</div>
								<p class="stats-p">Customers</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>

				</div>
				<!-- //Stats -->

				<!-- Clients -->
				<div class="clients" id="clients">
					<div class="container">

						<h3>HAPPY CUSTOMERS</h3>

						<section class="slider">
							<div class="flexslider">
								<ul class="slides">
									<li>
										<div class="client-image">
											<img src="/appyTailor/resources/web/images/client-1.png" alt="appyTailor">
											<h5>Vinayag Fashion Boutique</h5>
										</div>
										<div class="client-info">
											<h4>"Awesome"</h4>
											<p>We are using the appyTailor for a more than 2 years
												from now and have been impressed from Day 1. We have been
												able to improve our response time, and have been able to
												improve customer satisfaction by make ontime deliveries. We
												are quite happy with the functions provided, specially order
												tracking and loyalty system. Their training awesome and
												after sales service support is priceless.</p>
										</div>
									</li>
									<li>
										<div class="client-image">
											<img src="/appyTailor/resources/web/images/client-2.png" alt="appyTailor">
											<h5>Zooty - Premjeet Singh</h5>
										</div>
										<div class="client-info">
											<h4>"Excellent"</h4>
											<p>Understood our complete requirement in detail and came
												up with an improvised way to systemise our manual systems.
												Implementation was more that what was expected !! Will
												definitely recommend to use if you are looking at
												scalability in the future. Great job ! Keep it up. PS :
												Ayyasamy ( Head of operations ) is a great guy to work with
												!!</p>
										</div>
									</li>
									<li>
										<div class="client-image">
											<img src="/appyTailor/resources/web/images/client-3.png" alt="appyTailor">
											<h5>Kulazhi Boutique - Pragyan</h5>
										</div>
										<div class="client-info">
											<h4>"Intelligent"</h4>
											<p>I am using appyTailor since one year, I have made
												almost 9000 - Orders and approximately 50000-Garments
												stitched and delivered till date. Now I can suggest other
												people very confidently, that appyTailor is really a very
												easy and effective software. I am very much happy with it.</p>
										</div>
									</li>
									<li>
										<div class="client-image">
											<img src="/appyTailor/resources/web/images/client-4.png" alt="appyTailor">
											<h5>Chola - Sanjay</h5>
										</div>
										<div class="client-info">
											<h4>"Marvellous"</h4>
											<p>I was very afraid to trust any software for my
												boutique, but since I have installed appyTailor, It has made
												my business process even more easy and convenient. Most
												important is, customization to suit my business process, I
												asked you guys for few customizations which you people gave
												me in a very short time and that's too exactly what I was
												looking for. Its value for money, without compromising our
												basic & even advanced business needs.</p>
										</div>
									</li>
									<li>
										<div class="client-image">
											<img src="/appyTailor/resources/web/images/client-5.png" alt="appyTailor">
											<h5>Bride - Ajay Nair</h5>
										</div>
										<div class="client-info">
											<h4>"Tremendous"</h4>
											<p>We were dealing with appyTailor for the past one
												month. We had a good support and cooperation with them
												during all the sessions. The Training was finished within a
												quick period of time. The Software is really easy to work,
												Anyone can get easily trained and can understand the
												processes easily. The bottom line of our review is Simple,
												Efficient and Great...</p>
										</div>
									</li>
								</ul>
							</div>
						</section>

					</div>
				</div>
				<!-- //Clients -->

				<!-- Footer -->
				<div class="footer">
					<div class="container">

						<h3>KEEP IN TOUCH WITH US</h3>
						<h5>We have next generation application to take care of your
							business in competitive world. We understood your business, we
							trust, we belive and we respect. We love to speak with you about
							your specific needs.</h5>

						<div class="footer-grids">

							<div class="col-md-3 col-sm-3 footer-grid footer-grid-1 address">
								<h4>Address</h4>
								<address>
									<ul>
										<li><span class="glyphicon glyphicon-map-marker"
											aria-hidden="true"></span> Flat#2,Sabari Apartments</li>
										<li><span class="glyphicon glyphicon-map-marker"
											aria-hidden="true"></span> Anand Nagar</li>
										<li><span class="glyphicon glyphicon-map-marker"
											aria-hidden="true"></span> Kalamandir</li>
										<li><span class="glyphicon glyphicon-map-marker"
											aria-hidden="true"></span> Bangalore-560037</li>
									</ul>
								</address>
							</div>

							<div class="col-md-3 col-sm-3 footer-grid footer-grid-2 phone">
								<h4>Phone</h4>
								<p>
									<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
									(+91) 8248177618
								</p>
								<p>
									<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
									(+91) 9206869363
								</p>
								<p>
									<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
									(+91) 9066364212
								</p>
							</div>

							<div class="col-md-3 col-sm-3 footer-grid footer-grid-3 email">
								<h4>Email</h4>
								<p>
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
									<a href="mailto:inappytailor@gmail.com">
										inappytailor@gmail.com</a>
								</p>
								<p>
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
									<a href="mailto:happyinvites@gmail.com">
										happyinvites@gmail.com</a>
								</p>
							</div>

							<!-- Newsletter -->
							<div
								class="col-md-3 col-sm-3 footer-grid footer-grid-4 newsletter">
								<h4>Newsletter</h4>
								<form action="#" method="post">
									<input type="text" placeholder="Email" name="Email" required="">
									<input type="submit" value="SUBSCRIBE">
								</form>
							</div>
							<!-- //Newsletter -->

							<div class="clearfix"></div>

						</div>

						<!-- Copyright -->
						<div class="copyright">
							<p>
								&copy; 2015 - 2017 appyTailor. All Rights Reserved | Design by <a
									href="http://www.fixadoctor.com/" target="_blank"> Fixaar </a>
							</p>
						</div>
						<!-- //Copyright -->

					</div>
				</div>
				<!-- //Footer -->

			</div>
			<!-- //Page-Content -->

		</div>

	</div>



	<!-- Necessary-JavaScript-Files-&-Links -->

	<!-- Bootstrap-JavaScript-File -->
	<script type="text/javascript" src="/appyTailor/resources/web/js/bootstrap.min.js"></script>
	<!-- Supportive-JavaScript-File -->
	<script type="text/javascript" src="/appyTailor/resources/web/js/jquery-2.1.4.min.js"></script>

	<!-- Navigation-Menu-JavaScript -->
	<script src="/appyTailor/resources/web/js/classie.js"></script>
	<script src="/appyTailor/resources/web/js/main3.js"></script>
	<!-- //Navigation-Menu-JavaScript -->

	<!-- Popup-Box-JavaScript -->
	<script src="/appyTailor/resources/web/js/modernizr.custom.97074.js"></script>
	<script src="/appyTailor/resources/web/js/jquery.chocolat.js"></script>
	<script type="text/javascript">
				$(function() {
					$('.gallery-item a').Chocolat();
				});
			</script>
	<!-- //Popup-Box-JavaScript -->

	<!-- FlexSlider-JavaScript -->
	<script defer src="/appyTailor/resources/web/js/jquery.flexslider.js"></script>
	<script type="text/javascript">
				$(function(){
					SyntaxHighlighter.all();
				});
				$(window).load(function(){
					$('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
							$('body').removeClass('loading');
						}
					});
				});
			</script>
	<!-- //FlexSlider-JavaScript -->

	<!-- //Necessary-JavaScript-Files-&-Links -->



</body>
<!-- //Body -->

</html>